langchain-core
aiohttp
langgraph
typer
uvicorn
fastapi
requests
pydantic
pyyaml
matplotlib
aiofiles
pytest
tqdm
rich
httpx
openai
tiktoken
psutil
selenium
hypothesis
python-multipart
pwntools
ollama
python-dotenv