langchain-core
aiohttp
langgraph
typer
uvicorn
fastapi
requests==2.32.4
pydantic
pyyaml
matplotlib
aiofiles
pytest
tqdm
rich
httpx
openai
tiktoken
psutil
selenium
hypothesis
python-multipart
pwntools
python-dotenv
sentence-transformers
faiss-cpu
pydantic-settings
numpy
pyautogui
opencv-python
scapy
pytesseract
Pillow
