# requirements.txt
langchain-core
langgraph
typer
uvicorn
fastapi
pydantic
pyyaml
matplotlib
aiofiles
pytest
tqdm
rich
httpx
openai
tiktoken
instructor
psutil
python-json-logger
selenium
hypothesis
python-multipart
pwntools
python-dotenv
python-pptx
docx
pypdf
redis
langchain-openai
sentence-transformers
faiss-cpu
pydantic-settings
cmd2
pyautogui
opencv-python
scapy
pytesseract
Pillow
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
numpy<2.0
docker==7.1.0
python-gitlab==4.6.0
slack_sdk==3.27.1
kubernetes